*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 93vh;
}

.navbar{
    height: 7vh;
    border-bottom: 1px solid black;
}

.main{
    height: 100%;
    width: 100%;
    background-color: rgb(207, 207, 207);
    padding-top: 45px;
}

.whiteSpace{
    margin: auto;
    background-color: white;
    height: 79vh;
    width: 100%;
    border: black 1px solid;
    border-radius: 25px;
    padding: 10px;
    
    
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  a{
    color: black;
  }

  a:hover{
    color: black;
  }



  h1{
	text-align:center;
	font-size:25pt;
}

.mapContainer{
	width:800px;
	height:600px;
	margin:10px auto;		
    border: black 1px solid;
}

.buttonContainer{
	margin:25px auto;
	text-align:center;
}

input[type=text] { 
	width:280px; 
	height:22px;
	vertical-align:middle;
}

.infoWindow { padding:0; text-align:left; }
.infoWindow p { padding:0; margin:0}
.infoWindow p:last-of-type {margin-bottom:10px }
.infoWindow p span { font-weight:bold}
